@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);
@import url(dica.css);

:root {
    --cor-primaria: #EB9B00;
    --cor-secundaria: #002F52;
    --branco: #FFFFFF;
    --cor-de-fundo: #EBECEE;
    --fonte-principal: "Poppins", sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-size: 16px;
    font-weight: 400;
}